In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Wanganui,-39.9333,175.0500,76.73,63,83,5.01,NZ,2022-02-02 20:25:14
1,1,Punta Arenas,-53.1500,-70.9167,51.82,87,75,10.36,CL,2022-02-02 20:20:22
2,2,Pilar,-9.5972,-35.9567,85.93,60,22,11.34,BR,2022-02-02 20:25:14
3,3,Grindavik,63.8424,-22.4338,28.87,54,75,1.14,IS,2022-02-02 20:25:15
4,4,Trinidad,-14.8333,-64.9000,87.78,66,40,4.61,BO,2022-02-02 20:25:15

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Wanganui,-39.9333,175.0500,76.73,63,83,5.01,NZ,2022-02-02 20:25:14
2,2,Pilar,-9.5972,-35.9567,85.93,60,22,11.34,BR,2022-02-02 20:25:14
4,4,Trinidad,-14.8333,-64.9000,87.78,66,40,4.61,BO,2022-02-02 20:25:15
9,9,Sola,-13.8833,167.5500,81.45,78,98,9.08,VU,2022-02-02 20:25:17
11,11,Kapaa,22.0752,-159.3190,80.11,69,20,1.01,US,2022-02-02 20:24:49
14,14,Isangel,-19.5500,169.2667,77.11,100,75,0.00,VU,2022-02-02 20:25:18
17,17,Mar Del Plata,-38.0023,-57.5575,86.02,50,0,11.99,AR,2022-02-02 20:24:39
23,23,Cruz Das Almas,-12.6700,-39.1019,83.68,60,1,8.81,BR,2022-02-02 20:25:22
31,31,Rikitea,-23.1203,-134.9692,77.94,74,100,5.93,PF,2022-02-02 20:25:25
36,36,Bengkulu,-3.8004,102.2655,75.90,90,99,4.27,ID,2022-02-02 20:21:57

In [15]:
preferred_cities_df.count()

City_ID       175
City          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
Country       175
Date          175
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Wanganui      NZ     76.73 -39.9333  175.0500
2            Pilar      BR     85.93  -9.5972  -35.9567
4         Trinidad      BO     87.78 -14.8333  -64.9000
9             Sola      VU     81.45 -13.8833  167.5500
11           Kapaa      US     80.11  22.0752 -159.3190
14         Isangel      VU     77.11 -19.5500  169.2667
17   Mar Del Plata      AR     86.02 -38.0023  -57.5575
23  Cruz Das Almas      BR     83.68 -12.6700  -39.1019
31         Rikitea      PF     77.94 -23.1203 -134.9692
36        Bengkulu      ID     75.90  -3.8004  102.2655

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Wanganui,NZ,76.73,-39.9333,175.0500,Aotea Motor Lodge
2,Pilar,BR,85.93,-9.5972,-35.9567,Pousada e churrascaria Manguaba
4,Trinidad,BO,87.78,-14.8333,-64.9000,Hotel Piesta
9,Sola,VU,81.45,-13.8833,167.5500,Leumerus Bungalows
11,Kapaa,US,80.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Isangel,VU,77.11,-19.5500,169.2667,Tanna Lodge
17,Mar Del Plata,AR,86.02,-38.0023,-57.5575,Gran Hotel Mar del Plata
23,Cruz Das Almas,BR,83.68,-12.6700,-39.1019,Stúdios Stifler
31,Rikitea,PF,77.94,-23.1203,-134.9692,People ThankYou
36,Bengkulu,ID,75.90,-3.8004,102.2655,Grage Hotel Bengkulu

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))